/*TABLE OF CONTENTS*/
/*---------------------------*/
/*GLOBAL*/
/*PAGE TITLE*/
/*TABLE*/
/*BUTTONS*/
/*ACTIONS // FILTERS*/
/*FIELD EDITOR*/
/*DROPDOWN*/
/*CHECKBOX*/
/*INPUTS*/
/*QUEUE*/
/*TAB SET*/
/*CALENDAR*/
/*FILE*/
/*POPUP*/
/*WIZARD*/
/*NAVIGATION*/
/*SEARCH*/
/*WEB FONTS*/
/*CSS*/
/*CHARTS*/
/*KPI*/
/*COLLAPSIBLE PANEL*/
/*MISC*/
/*MESSAGES*/
/*GLOBAL*/
/*PAGE TITLE*/
/*TABLE*/
/*BUTTONS*/
.sk-timefilter-button {
  border-color: #44C76E !important;
  background: #44C76E !important;
  color: #fff !important; }
  .sk-timefilter-button:hover {
    background: #369F58 !important;
    border-color: #369F58 !important; }

.sk-timefilter-button-grey {
  border-color: #D0D3D8 !important;
  background: #FAFBFC !important;
  color: #555 !important; }
  .sk-timefilter-button-grey:hover {
    background: #ECECEC !important;
    border-color: #D0D3D8 !important; }

.nx-basicfieldeditor-item {
  padding: 0rem 0rem 1.25rem 0rem; }

.nx-basicfieldeditor-item-label {
  color: #555; }

.mono-btn.ui-button {
  background: #555;
  border: 1px solid #555; }
  .mono-btn.ui-button.ui-state-default {
    background: #555;
    border: 1px solid #555; }

.alt-btn.ui-button {
  background: #0181A5;
  border: 1px solid #0181A5;
  color: #fff; }
  .alt-btn.ui-button.ui-state-default {
    color: #fff;
    background: #0181A5;
    border: 1px solid #0181A5; }
  .alt-btn.ui-button:hover, .alt-btn.ui-button.ui-state-default:hover {
    background-color: #015972;
    border-color: #015972;
    color: #fff; }

/*ACTIONS // FILTERS*/
/*FIELD EDITOR*/
.nx-basicfieldeditor-column.nx-layout-above .nx-basicfieldeditor-item {
  border-bottom: 0 !important; }

/*DROPDOWN*/
.nx-actionselect-dropdown {
  margin-top: 10px; }

.sk-timefilter-body {
  border: 1px solid #D0D3D8; }

.sk-navigation-dropdown > .sk-dropnav-dropdown, .sk-navigation-dropdown .sk-subnavigation {
  border: 1px solid #D0D3D8; }

.sk-navigation-dropdown .sk-dropnav-text .sk-dropnav-dropdown-item:focus {
  outline: none; }

.sk-navigation-item > span {
  padding: 0 0.75rem;
  font-weight: 400; }

.sk-dropnav-dropdown-item:hover, .sk-dropnav-dropdown-item:active, .sk-dropnav-dropdown-item:focus {
  background: #f4f6f9; }

.sk-dropnav-text .sk-dropnav-dropdown-item {
  border: 1px solid #D0D3D8;
  padding: 0 1rem 0 1rem;
  border-radius: 2px; }
  .sk-dropnav-text .sk-dropnav-dropdown-item:focus {
    outline: none; }

.sk-dropnav-arrow {
  display: none; }

/*QUEUE*/
/*TAB SET*/
.ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-default, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-hover, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-default, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-hover {
  padding: 0 !important;
  display: table;
  display: inline-table; }

.ui-tabs .ui-tabs .ui-tabs-nav li a {
  padding: 12px 20px !important; }

.ui-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover a {
  padding: 12px 20px !important; }

.ui-tabs .ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active a:focus {
  outline: none; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor:focus, .ui-tabs .ui-tabs-nav li.ui-tabs-active:focus, .ui-tabs .ui-tabs-nav li.ui-tabs-active a:focus {
  outline: none; }

.ui-state-default .ui-corner-top:focus {
  outline: none; }

.ui-tabs .ui-tabs-nav li:focus {
  outline: none; }

.ui-tabs .ui-tabs-nav li a:hover, .ui-tabs .ui-tabs-nav li a:focus {
  outline: none; }

/*styling vertical tabs*/
.nx-lefttabs.ui-tabs li.ui-state-default {
  min-width: 100%; }
  .nx-lefttabs.ui-tabs li.ui-state-default.ui-state-active, .nx-lefttabs.ui-tabs li.ui-state-default.ui-state-hover, .nx-lefttabs.ui-tabs li.ui-state-default {
    border: 0 !important;
    background: #ECF2FA;
    border-radius: 0 !important;
    color: #54698d; }
  .nx-lefttabs.ui-tabs li.ui-state-default.ui-tabs-active.ui-state-active {
    border-radius: 0;
    border: 0; }

.nx-lefttabs.ui-tabs ul.ui-tabs-nav.ui-helper-reset.ui-widget-header {
  border: 0 !important;
  border-radius: 0 !important;
  background: none;
  height: 100%;
  height: -webkit-fill-available;
  border-right: 1px solid #d8dde6 !important; }

.nx-lefttabs.ui-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .nx-lefttabs.ui-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover a {
  background: #ECF2FA;
  border-radius: 0; }

.nx-lefttabs.ui-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active li.ui-state-hover {
  border: none;
  border-radius: 0; }

.nx-lefttabs.ui-tabs ul.ui-tabs-nav.ui-widget-header {
  border: 0 !important;
  border-radius: 0 !important;
  background: none;
  padding-top: 1px; }

.nx-lefttabs > .ui-tabs-panel {
  padding: 2rem 2.5rem !important; }

.verticaltabs .ui-tabs-panel {
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-radius: 0 !important; }

/*CALENDAR*/
/*POPUP*/
.ui-dialog .ui-dialog-title {
  text-align: left; }

/*WIZARD*/
/*NAVIGATION*/
.nav-header {
  background: #00355F;
  padding: 24px 40px; }

.sk-navigation-dropdown > .sk-dropnav-dropdown, .sk-subnavigation {
  border-radius: 2px;
  margin-top: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }

.sk-navigation-dropdown > .sk-dropnav-dropdown > .sk-dropnav-dropdown-item {
  padding: 5px;
  border-radius: 2px; }

.sk-navigation-horizontal {
  border-top: none !important;
  border-bottom: none !important; }

.ui-tabs {
  margin: 0 !important; }

.user-photo {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  margin: auto;
  overflow: hidden;
  width: 30px;
  height: 30px; }

/*SEARCH*/
/*alt search styling*/
/*alt search placeholder text color styling*/
.search-alt.sk-search .ui-autocomplete-input {
  border: 1px solid #044E65;
  background: #044E65;
  color: #fff; }
  .search-alt.sk-search .ui-autocomplete-input::-webkit-input-placeholder, .search-alt.sk-search .ui-autocomplete-input::-moz-placeholder, .search-alt.sk-search .ui-autocomplete-input:-ms-input-placeholder, .search-alt.sk-search .ui-autocomplete-input:-moz-placeholder, .search-alt.sk-search .ui-autocomplete-input::placeholder {
    color: #fff; }

.search-alt.sk-search > div.nx-field-reference-search {
  color: #fff; }

/*search icon style*/
/*WEB FONTS*/
/*font awesome colors*/
.ui-icon {
  /* &.ui-icon-blank, &.ui-icon-carat-1-n, &.ui-icon-carat-1-ne, &.ui-icon-carat-1-e, &.ui-icon-carat-1-se, &.ui-icon-carat-1-s, &.ui-icon-carat-1-sw, &.ui-icon-carat-1-w, &.ui-icon-carat-1-nw, &.ui-icon-carat-2-n-s, &.ui-icon-carat-2-e-w, &.ui-icon-triangle-1-n, &.ui-icon-triangle-1-ne, &.ui-icon-triangle-1-e, &.ui-icon-triangle-1-se, &.ui-icon-triangle-1-s, &.ui-icon-triangle-1-sw, &.ui-icon-triangle-1-w, &.ui-icon-triangle-1-nw, &.ui-icon-triangle-2-n-s, &.ui-icon-triangle-2-e-w, &.ui-icon-arrow-1-n, &.ui-icon-arrow-1-ne, &.ui-icon-arrow-1-e, &.ui-icon-arrow-1-se, &.ui-icon-arrow-1-s, &.ui-icon-arrow-1-sw, &.ui-icon-arrow-1-w, &.ui-icon-arrow-1-nw, &.ui-icon-arrow-2-n-s, &.ui-icon-arrow-2-ne-sw, &.ui-icon-arrow-2-e-w, &.ui-icon-arrow-2-se-nw, &.ui-icon-arrowstop-1-n, &.ui-icon-arrowstop-1-e, &.ui-icon-arrowstop-1-s, &.ui-icon-arrowstop-1-w, &.ui-icon-arrowthick-1-n, &.ui-icon-arrowthick-1-ne, &.ui-icon-arrowthick-1-e, &.ui-icon-arrowthick-1-se, &.ui-icon-arrowthick-1-s, &.ui-icon-arrowthick-1-sw, &.ui-icon-arrowthick-1-w, &.ui-icon-arrowthick-1-nw, &.ui-icon-arrowthick-2-n-s, &.ui-icon-arrowthick-2-ne-sw, &.ui-icon-arrowthick-2-e-w, &.ui-icon-arrowthick-2-se-nw, &.ui-icon-arrowthickstop-1-n, &.ui-icon-arrowthickstop-1-e, &.ui-icon-arrowthickstop-1-s, &.ui-icon-arrowthickstop-1-w, &.ui-icon-arrowreturnthick-1-w, &.ui-icon-arrowreturnthick-1-n, &.ui-icon-arrowreturnthick-1-e, &.ui-icon-arrowreturnthick-1-s, &.ui-icon-arrowreturn-1-w, &.ui-icon-arrowreturn-1-n, &.ui-icon-arrowreturn-1-e, &.ui-icon-arrowreturn-1-s, &.ui-icon-arrowrefresh-1-w, &.ui-icon-arrowrefresh-1-n, &.ui-icon-arrowrefresh-1-e, &.ui-icon-arrowrefresh-1-s, &.ui-icon-arrow-4, &.ui-icon-arrow-4-diag, &.ui-icon-extlink, &.ui-icon-newwin, &.ui-icon-refresh, &.ui-icon-shuffle, &.ui-icon-transfer-e-w, &.ui-icon-transferthick-e-w, &.ui-icon-folder-collapsed, &.ui-icon-folder-open, &.ui-icon-document, &.ui-icon-document-b, &.ui-icon-note, &.ui-icon-mail-closed, &.ui-icon-mail-open, &.ui-icon-suitcase, &.ui-icon-comment, &.ui-icon-person, &.ui-icon-print, &.ui-icon-trash, &.ui-icon-locked, &.ui-icon-unlocked, &.ui-icon-bookmark, &.ui-icon-tag, &.ui-icon-home, &.ui-icon-flag, &.ui-icon-calendar, &.ui-icon-cart, &.ui-icon-pencil, &.ui-icon-clock, &.ui-icon-disk, &.ui-icon-calculator, &.ui-icon-zoomin, &.ui-icon-zoomout, &.ui-icon-search, &.ui-icon-wrench, &.ui-icon-gear, &.ui-icon-heart, &.ui-icon-star, &.ui-icon-link, &.ui-icon-cancel, &.ui-icon-plus, &.ui-icon-plusthick, &.ui-icon-minus, &.ui-icon-minusthick, &.ui-icon-close, &.ui-icon-closethick, &.ui-icon-key, &.ui-icon-lightbulb, &.ui-icon-scissors, &.ui-icon-clipboard, &.ui-icon-copy, &.ui-icon-contact, &.ui-icon-image, &.ui-icon-video, &.ui-icon-script, &.ui-icon-alert, &.ui-icon-info, &.ui-icon-notice, &.ui-icon-help, &.ui-icon-check, &.ui-icon-bullet, &.ui-icon-radio-on, &.ui-icon-radio-off, &.ui-icon-pin-w, &.ui-icon-pin-s, &.ui-icon-play, &.ui-icon-pause, &.ui-icon-seek-next, &.ui-icon-seek-prev, &.ui-icon-seek-end, &.ui-icon-seek-start, &.ui-icon-seek-first, &.ui-icon-stop, &.ui-icon-eject, &.ui-icon-volume-off, &.ui-icon-volume-on, &.ui-icon-power, &.ui-icon-signal-diag, &.ui-icon-signal, &.ui-icon-battery-0, &.ui-icon-battery-1, &.ui-icon-battery-2, &.ui-icon-battery-3, &.ui-icon-circle-plus, &.ui-icon-circle-minus, &.ui-icon-circle-close, &.ui-icon-circle-triangle-e, &.ui-icon-circle-triangle-s, &.ui-icon-circle-triangle-w, &.ui-icon-circle-triangle-n, &.ui-icon-circle-arrow-e, &.ui-icon-circle-arrow-s, &.ui-icon-circle-arrow-w, &.ui-icon-circle-arrow-n, &.ui-icon-circle-zoomin, &.ui-icon-circle-zoomout, &.ui-icon-circle-check, &.ui-icon-circlesmall-plus, &.ui-icon-circlesmall-minus, &.ui-icon-circlesmall-close, &.ui-icon-squaresmall-plus, &.ui-icon-squaresmall-minus, &.ui-icon-squaresmall-close, &.ui-icon-grip-dotted-vertical, &.ui-icon-grip-dotted-horizontal, &.ui-icon-grip-solid-vertical, &.ui-icon-grip-solid-horizontal, &.ui-icon-gripsmall-diagonal-se, &.ui-icon-grip-diagonal-se {*/
  color: #555; }

/*KPI*/
.kpi-header .sk-wrapper {
  background: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  width: 200px;
  min-height: 40px;
  padding: 1px 0; }

.kpi-data .sk-wrapper {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }

/*COLLAPSIBLE PANEL*/
.ui-accordion-header {
  color: #555 !important;
  background: #fff !important;
  border-bottom: 1px solid #D0D3D8; }
  .ui-accordion-header .ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
    color: #555 !important; }

.ui-accordion .ui-accordion-header {
  font-size: 16px !important; }

/*MISC*/
.nx-field input:not([type="radio"]):not([type="checkbox"]):focus, .nx-field textarea:focus, .nx-field .nx-richtext-input:focus {
  border-color: #00B2DD; }

.ui-autocomplete-input:focus {
  border-color: #00B2DD; }

.nx-field.nx-layout-above.required.nx-modified input {
  border-color: #FF3C41; }

.nx-editor-header input.searchbox:focus, input.ui-autocomplete-input:focus {
  border-color: #00B2DD;
  outline: none; }

/*MULTI SELECT*/
.ui-multiselect-filter input {
  padding: 6px !important;
  border-radius: 2px;
  margin-bottom: 5px; }
  .ui-multiselect-filter input:focus {
    border-color: #00B2DD;
    outline: none; }

/*DATE PICKER*/
.ui-datepicker.ui-widget-content td a, .ui-datepicker.ui-widget-content td span {
  padding-top: 7px;
  padding: 7px 3px; }

.ui-datepicker.ui-widget-content td a.ui-state-default:hover, .ui-datepicker.ui-widget-content td a.ui-state-hover {
  border: none;
  background: #4186CF;
  font-weight: bold;
  text-decoration: none;
  color: #fff; }

/* HIGHLIGHTED UI STATE */
a.ui-state-default :hover, a.ui-state-highlight:hover {
  border: none;
  background: #4186CF;
  font-weight: bold;
  text-decoration: none;
  color: #fff; }

.ui-datepicker.ui-widget-content td a.ui-state-hover:hover {
  border: none;
  background: #4186CF;
  font-weight: bold;
  text-decoration: none;
  color: #fff; }

.ui-datepicker.ui-widget-content td span.ui-state:hover, .ui-datepicker.ui-widget-content td span.ui-state-hover {
  border: none;
  background: #4186CF;
  font-weight: bold;
  text-decoration: none;
  color: #fff; }

.nx-actionselect-label {
  top: -28px; }

.nx-actionselect-arrow > div.ui-icon {
  color: #555 !important; }

.nx-actionselect:hover, .nx-actionselect:focus {
  color: #555; }

div.nx-actionselect {
  color: #555; }

/*MESSAGES + ALERTS*/
.nx-message {
  background: #44C76E; }

.nx-warning {
  background: #F4A502; }

.nx-page-problems-dismiss {
  background-color: transparent; }

.ui-icon.ui-icon-close {
  color: #fff; }

/*CONTAINER*/
.border-only {
  border: 1px solid #D0D3D8;
  border-radius: 3px; }

.container {
  border: 1px solid #D0D3D8;
  border-radius: 3px;
  background: #fff;
  margin-top: 32px; }
  .container .sk-wrapper {
    padding: 24px; }

.page {
  background: #FAFBFC; }

/*STYLE GUIDE SPECIFIC*/
.doc {
  text-transform: uppercase;
  display: block; }

.color-swatch .sk-wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #D0D3D8;
  border-radius: 2px; }

.swatch-text {
  height: 200px; }

.documentation {
  background-color: #e4f8fc;
  border-left: 16px solid #1399B5;
  padding: 32px;
  margin: 15px 0; }
